<form [formGroup]="startForm" (submit)="goToPage1()" *ngIf="pageToShow ===0">
  <div class="mainDiv" >
    <h2>Малышка, привет</h2>

    <h3> Для доступа к анкете введи пароль:</h3>

    <mat-form-field appearance="outline" autocomplete="off">
      <mat-label>Пароль:</mat-label>
      <input matInput formControlName="password">
      <mat-error *ngIf="startForm.get('password').value !== rightPassword">Неправильный пароль!</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" id="continue-button">
      Отправить пароль
    </button>
  </div>
</form>


<app-page1 *ngIf="pageToShow ===1"></app-page1>
