<form [formGroup]="startForm" (submit)="goToPage1()" *ngIf="pageToShow ===0">
  <div class="mainDiv" >
    <h1>Мария, привет</h1>

    <h3> Для доступа введи пароль:</h3>

    <mat-form-field appearance="outline" autocomplete="off">
      <mat-label>Пароль:</mat-label>
      <input matInput formControlName="password" autocomplete="off">
      <mat-error *ngIf="startForm.get('password').value !== rightPassword">Неправильный пароль!</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" id="continue-button">
      Отправить пароль
    </button>

    <img style="margin-top: 20px" src="assets/popa1.jpg" alt="sign">
  </div>
</form>


<app-page1 *ngIf="pageToShow ===1" (pageToShowEvent)="pageEventHandler($event)"></app-page1>
<app-page2 *ngIf="pageToShow ===2" (pageToShowEvent)="pageEventHandler($event)"></app-page2>
<app-page-end *ngIf="pageToShow ===3" (pageToShowEvent)="pageEventHandler($event)"></app-page-end>
