
.send-result{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-paginator{
  margin-top: 22px;
}
.mat-paginator-range-label{
  margin: 0 !important;
  width: 80px !important;
}

.mat-header-cell {
  justify-content: center;

}

.mat-cell{
  padding-right: 3px;
  padding-left: 3px;
  align-items: center;
}
/*
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}
*/

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mainPage2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #girl{
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
  }

  .leftPage2{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .rightPage2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



  .mobile-label {
    width: 100px !important;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }

}



@media screen and (min-width: 600px) {
  .mat-form-field{
    width: 95%;
    padding-bottom: 0;
  }

  .mainPage2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #girl{
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
  }

  .leftPage2{
    width: 35%;
    display: flex;
    flex-direction: column;
  }

  .rightPage2{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



  .mobile-hide {
    display: none !important;
  }


  mat-table{
    width: 100%;
  }

  .mat-column-number {
    flex: 0 0 3%;
  }

  .mat-column-name {
    flex: 0 0 43%;
    min-width: 250px;
  }

  .mat-column-estimate {
    flex: 0 0 25%;
  }

  .mat-column-comment{

  }

}

.question-text{
  margin-left: 5px;/*
  width: fit-content !important;*/
}



/*for back button*/
.go-back-wrapper{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.go-back-button{
  height: 48px;
  border: 0;
}

.go-back-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.go-back-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}
