<div class="mainPage1">
  <div class="leftPage1"><img src="assets/first_img.jpg"></div>
  <div class="rightPage1">
    <p>Итак, начнем. Укажи свое отношение к каждому пункту опросника. Отнесись серьезно,
      т.к. я буду руководствоваться твоими ответами, потом чтобы не жаловалась))</p>

    <p>Для начала разъяснения баллов:</p>
    <ul>
      <li><strong>0</strong> -  это твое табу. Я не могу его нарушить. <strong>Внимание!</strong> Ты можешь поставить эту оценку только 3 раза</li>
      <li><strong>1</strong> -  тебе совсем не нравится этот пункт. Но я могу его использовать, если ты сильно провинилась</li>
      <li><strong>2</strong> -  ты не хочешь или не любишь этот пункт, но я могу его нечасто/недолго использовать на свое усмотрение</li>
      <li><strong>3</strong> -  ты относишься  к этому пункту нейтрально</li>
      <li><strong>4</strong> -  тебе нравится/возбуждает этот пункт</li>
      <li><strong>5</strong> -  это один из любимых пунктов. Если ты вела себя хорошо, то я подумаю, чтобы хотя бы раз за встречу применить пункт с такой оценкой</li>
      <li><strong>Твой вариант</strong> -  ты обязана заполнить минимум 3 свои фантазии, которые хотела бы реализовать (можно не только когда ты снизу)</li>
    </ul>
    <p>К каждому вопросу можно добавить коментарий, если захочешь что-то уточнить</p>

    <button mat-raised-button color="accent" id="continue-button" (click)="goToPage2()">
      Поняла
    </button>
  </div>



</div>


