<p>Итак, начнем. Укажи свое отношение к каждому пункту. Отнесись серьезно,
  т.к. я буду руководствоваться твоими ответами, потом чтобы не жаловалась))</p>

<ul>
  <li><strong>0</strong> -  это твое табу. Я ни при каких обстоятельствах не могу его нарушить. <strong>Внимание!</strong> Ты можешь поставить эту оценку только 3 раза</li>
  <li><strong>1</strong> -  тебе совсем не нравится этот пункт. Но я могу его использовать, если ты сильно провинилась</li>
  <li><strong>2</strong> -  ты не хочешь или не любишь этот пункт, но я могу его нечасто/недолго использовать на свое усмотрение</li>
  <li><strong>3</strong> -  ты относишься относишься к этому пункту нейтрально, он тебя совсем ни трогает</li>
  <li><strong>4</strong> -  тебе нравится/возбуждает этот пункт</li>
  <li><strong>5</strong> -  это твой любимый пункт. Если ты вела себя хорошо, то я подумаю, чтобы хотя бы раз применить этот пункт</li>
</ul>
